<template>
<div>
<Header/>
    
       
        <router-link class="top-link" to="/">
        <p class="top-link_returnpage">Volver</p>
        <span class=" top-link__span fas fa-arrow-left"></span>
        </router-link>
    
    <div class="d-flex justify-content-center">
        <div class="c-user">
            <div class="c-user__detail-container">
                 <figure class="c-user__detail">
                        <img src="https://images.unsplash.com/photo-1548681528-6a5c45b66b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" class="c-user__img"/>
                        <figcaption class="c-user__caption">Name: {{user.name}}</figcaption> 
                        <figcaption class="c-user__caption">Email: {{user.email}}</figcaption>
                 </figure>
            </div>
        </div>
        
    </div>
</div>
</template>

<script>
import Header from '@/components/Header.vue';
import axios from 'axios';
export default {
    name:'Detail',
    components:{
        Header
    },

    data(){
        return{
            userId: this.$route.params.id,
            user: null,
            eror: false,

           
        }
    },

    created(){
    this.getUser();

       
    },

      methods: {
        getUser() {
        axios.get('https://my-user-manager.herokuapp.com/users/' + this.userId).then((res) =>{
        this.user = res.data;
        console.log(this.user);
        }).catch( error => {
               console.log(error);
               this.error = true;
             })
          }
    },

  
   
}
</script>

<style lang="scss" scoped>

.top-link {
  display: flex;
  justify-items: flex-start;
  margin-left: 80px;
  top: 10px;
  list-style: none;
  text-decoration: none;
  color: #0E76A8;

  &__span {
      color: rgb(56, 53, 53);
      font-size: 24px;
      padding: 6px;
      margin-top: 7px;
      color: #0E76A8;

  }
  
}
.c-user {
    
    &__detail{
    margin: 4rem auto;
    text-align: center; 
    }

    &__img{
    height: 600px;
    max-height: 100%; 
    border-radius: 20px;
    }

    &__caption {
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    
    }

}
</style>