<template>
<div>
  <Header/>
  <div class="c-user-list">
    <div class="row">
      
      <div class="col-12 col-md-6 col-lg-4" v-for="user in users" :key="user.id">
        <div class="c-user-list__item-container"  v-on:click="$router.push({name: 'Detail', params: { id: user.id}})" >
         <figure class="c-user-list__item" >
          <img class="c-user-list__img" src="https://images.unsplash.com/photo-1548681528-6a5c45b66b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
          <figcaption class="c-user-list__name">{{user.name}}
             <span class="c-user-list__name__icon far fa-envelope"></span>
          </figcaption>
         
         </figure>
        </div>
      </div>
    </div>
    
  </div>
</div>
</template>

<script>
import Header from '@/components/Header.vue';
import axios from 'axios';

export default {
  name: 'Home',
  props:['user'],
  data(){
    return {
      users: []
    }
  },
  
  components: {
   Header
   
  },

  methods: {

    data: function() {
      return {
        users: []
      }
    }

  },

  mounted(){
    let url = 'https://my-user-manager.herokuapp.com/users';
    axios.get(url).then(res => {
      this.users = res.data;
      console.log(res.data);
    });
  
  }
}

</script>

<style lang="scss" scoped>

.c-user-list{
  &__item-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 20px;
    
    
  }

  &__item{
    text-align: center;
    width: 30%;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    
  }

  &__img{
    margin: 10px;
    height: 120px;
    width: 20%;
    object-fit: cover;
    border-radius: 60%;
  }

  &__name {
    font-family: 'Roboto';
    font-weight: bold;
  }
}
</style>

