<template>
    
        <h2>
            MyContacts
        </h2>
    
</template>

<style>

h2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    height: 60px;
    color: #0E76A8;

}

</style>